:root {
  --black: #000000;
  --dark: #393a3b;
  --dark2: #4a4a4a;
  --white: #ffffff;
  --blue: #34566f;
  --grey: #959595;
  --grey2: #d8d8d8;
  --lightBlue: #00bbff;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.8em;
}

.content-wrapper {
  width: 769px;
  margin: 0 auto;
}

.row-flex {
  display: flex;
}

.header {
  background-color: var(--black);
  height: 3.125em;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--dark2);
}

.header h1 a {
  color: var(--white);
}

.header h1 a img.logo-image {
  width: 35px;
  height: 35px;
  margin-top: 0.3em;
}

.logo-text {
  margin-left: 0.5em;
  position: relative;
  bottom: 0.4em;
  font-family: "Eleuther", serif;
  font-size: 0.8em;
  text-decoration: none;
}

.header-text {
  color: var(--white);
  margin-left: auto;
  margin-top: 1em;
  font-weight: 300;
}

.main-container {
  background-color: var(--dark);
  padding: 2em 0em;
  color: var(--white);
}

h2.page-title {
  font-size: 1.2em;
  text-transform: 1.2em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1em;
}

.content-text {
  font-size: 1em;
  padding: 0.5em 0em;
  line-height: 1.3em;
  margin-bottom: 0.8em;
}

.blue-button {
  margin: 1em 0em;
  padding: 0.8em 2.4em;
  border: 1px solid var(--lightBlue);
  background-color: transparent;
  color: var(--lightBlue);
  cursor: pointer;
  font-size: 1em;
}

.blue-button:hover {
  color: var(--white);
  border: 1px solid var(--white);
}

.footer {
  background-color: var(--black);
  padding: 0.5em 0em;
  border-top: 1px solid var(--dark2);
}

.footer-text {
  text-align: right;
  font-size: 0.75em;
  color: var(--white);
}
